:root { 
--deep_purple_A100_00:#af9cff00; 
--deep_purple_500:#6844d8; 
--deep_purple_A100:#af9cff; 
--indigo_900:#1d3661; 
--deep_purple_A200:#7c54f7; 
--deep_purple_600:#5531c2; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--deep_purple_A200_00:#7c54f700; 
}